.pink{
    background-color: pink;
    color: white;
}
.pink h3{
    background-color: red;
}
.pink span{
    background-color: aqua;
    text-decoration: underline;
    color: red;
}
.gray{
    background-color: gray;
    color: blue;
}
.yellow{
    background-color: yellow;
    color: green;
}
h2{
    color: chocolate;
}
#h2{
    color: red;
}
#text{
    background-color: green;
}
#password{
    background-color: blue;
}